<html>
<head>
	<title>查閱資料要求確認：誰手可得</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="誰手可得" width="320" height="108" />
</h1>
<p>感謝您使用「誰手可得」製作向3 發出的查閱資料要求。</p>
<p>為確認您的查閱資料要求及作電子郵件提示登記（以便我們為您的整個查閱資料要求過程作出指引），請<a style="font-weight:bold; color: #008876;" href="{{verificationURL}}">檢證您的電郵地址</a>。</p>
<p><a style="font-weight:bold; color: #008876;" href="{{unsubscribeURL}}">取消訂閱點擊這裡</a>.</p>
</body>
</html>