<html>
<head>
	<title>Confirm your request: Access My Info</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Obtenir mes infos" width="320" height="108" />
</h1>

<p><strong>Vous êtes invités à participer à un sondage en anglais sur Access My Info:</strong></p>

<hr>

<p>Hello,</p>

<p>Thank you for using Access My Info to request your personal data from {{operator_title}}.</p>

<p>You are receiving this message because you opted in to receiving communications from the Access My Info team. This team involves researchers from Open Effect and the Citizen Lab at the University of Toronto.</p>

<p>We are interested in learning about the experiences of Access My Info users. We are conducting a survey that asks questions such as: Did you get data back from the company? What did you learn from the data? Were you satisfied with the process?</p>

<p>If you are interested in participating in this research check out the survey here: 
<a href="https://goo.gl/forms/GuH7fjCIzkVZ9hnz2">https://goo.gl/forms/GuH7fjCIzkVZ9hnz2</a></p>

<p>NOTE: You may receive multiple emails from us; one for each request you made. Feel free to respond to any or all of them, or none at all.</p>

<p>Best regards,
<br>Andrew Hilts
<br>Executive Director, Open Effect
<br>andrew@openeffect.ca</p>

 <p>Please keep in mind you can unsubscribe from AMI notifications at any time here {{unsubscribeURL}}.</p>