<html>
<head>
	<title>Confirm your request: Access My Info</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info Hong Kong" width="320" height="108" />
</h1>
<p>Your request to {{operator_title}} has been verified.</p>

<p>In about 40 days, we'll check in to see if you've received a response from {{operator_title}}.</p>

<p>After around 80 days, we'll ask for some feedback about how your request went.</p>

<p>Please keep in mind you can unsubscribe at any time <a href="{{unsubscribeURL}}">here</a>.</p>
</body>
</html>