<html>
<head>
	<title>Confirm your request: Access My Info</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info" width="320" height="108" />
</h1>
<p>Thank you for creating a request to {{operator_title}} using AMI. To confirm your request with us and sign up for email reminders to guide you through the request lifecycle, please <a style="font-weight:bold; color: #9d0003;" href="{{verificationURL}}">verify your email address</a>.
<p>You can also unsubscribe from notifications <a style="color: #9d0003; font-weight:bold" href="{{unsubscribeURL}}">here</a>.</p>
</body>
</html>