<html>
<head>
	<title>Reminder about your request: Access My Info</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info Hong Kong" width="320" height="108" />
</h1>
<p>!!!!!!!You can also unsubscribe from notifications <a style="color: #008876;" href="{{unsubscribeURL}}">here</a>.</p>
</body>
</html>