<html>
<head>
	<title>Reminder about your request: Access My Info</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info Hong Kong" width="320" height="108" />
</h1>
<p>Dear sir/madam,</p>

<p>Thank you for participating in Access My Information HK. We are delighted and grateful for your involvement. </p>

<p>Around forty days have passed since you filed the request. Telecommunication companies (telcos) and internet service providers (ISPs) are required by law to reply in writing within forty days. We want to share with you what we have found so far and inform you of your rights.</p> 

<p><strong>You have the right to ask telcos and ISPs for IP addresses and geolocation data</strong><br/>
From our volunteers, we know that telcos and ISPs have refused to provide IP addresses and geolocation information so far. But, the Privacy Commissioner has <a style="font-weight:bold; color: #008876;" href="http://topick.hket.com/article/1421742/%E3%80%8C%E8%AA%B0%E6%89%8B%E5%8F%AF%E5%BE%97%E3%80%8D%E7%B6%B2%E7%AB%99%E7%A8%8B%E5%BC%8F%20%E5%8A%A9%E5%90%91%E9%9B%BB%E8%A8%8A%E5%95%86%E6%9F%A5%E8%B3%87%E6%96%99">confirmed</a> that IP addresses and geolocation data are personal data if it could identify you in combination with other data, which telcos and ISPs are able to do. He also emphasized that this means that we have the right to request the telcos and ISPs to give this data to us. </p>

<p><strong>Get your response in writing, a phone call is inadequate</strong><br/>
	Our volunteers have told us that telcos and ISPs often call first. Please note that legally they are required to give a written reply within forty days. In other words, make sure you get a written reply, because that is your right and it is important for documenting what telcos and ISPs are saying on record.</p>	

<p><strong>Do you need to pay?</strong><br/>
Telcos and ISPs may charge a fee subject to your consent before they proceed with your data access request. Will it cost a lot? In practice, there is not a uniform and standard charge among the telcos and ISPs in Hong Kong. From our findings, the fee seems to range from HKD80 to HKD250 for complying with data access request, depending on your telco. </p>

<p><strong>We are here to help</strong><br/>
You are welcome to email us at <a style="font-weight:bold; color: #008876;" href="mailto:info@accessmyinfo.hk">info@accessmyinfo.hk</a> or message us on <a style="font-weight:bold; color: #008876;" href="https://www.facebook.com/AccessMyInfoHK/">Facebook</a> should you have any questions or any experience to share.</p>

<p>Thank you again for joining Access My Information HK and exercising the right to request access to your personal data!</p>

<p>Best,
AMI Hong Kong Team</p>
<p>You can also unsubscribe from notifications <a style="color: #008876;" href="{{unsubscribeURL}}">here</a>.</p>
</body>
</html>