<html>
<head>
	<title>Reminder about your request: Access My Info</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info Hong Kong" width="320" height="108" />
</h1>
<p>Hi! </p>

<p>Thank you so much for agreeing to help with the Access My Info Hong Kong research. My name is Lokman Tsui, I’m an assistant professor at the School of Journalism and Communication at the Chinese University of Hong Kong and I’m trying to understand the collection, processing and sharing of personal information by telecommunication companies and internet providers in Hong Kong.</p> 

<p>It’s been over forty days since your request, so by law the telecommunication company or internet provider should have given you written copies of your personal data, or at least given you a written response explaining why they haven’t been able to comply with your request.</p>

<p>Before you fill out the survey, please get your written copy or response from your telecommunication company or internet provider ready. </p>

<p>The survey will will take approximately ten to fifteen minutes to complete. It will ask you questions about your request, what answers (if any) you were given, and so on. Please fill out the survey here:</p>

<p><a style="color: #008876;" href="http://goo.gl/forms/MbtJWPLH52HOX2rt2">http://goo.gl/forms/MbtJWPLH52HOX2rt2</a></p>

<p>After collecting and analyzing the data, we plan to publish the findings of our research in a public report in a few months time, which you will be able to download from our website and Facebook page.  </p>

<p>If you have any questions, please feel free to contact us at <a style="color: #008876;" href="mailto:info@accessmyinfo.hk">info@accessmyinfo.hk</a>.</p>

<p>Again, thank you so much for your help.</p>

<p>Best,
<br/>Lokman Tsui on behalf of the Access My Info Hong Kong team</p>

<p>You can also unsubscribe from notifications <a style="color: #008876;" href="{{unsubscribeURL}}">here</a>.</p>
</body>
</html>